{
  "apiEndPoints": ${apiEndPoints},
  "apiInvokeUrl": ${apiInvokeUrl},
  "cognitoUserPoolId": "${cognitoUserPoolId}",
  "cognitoClientId": "${cognitoClientId}",
  "cognitoUrl": "${cognitoUrl}",
  "loginUrl": "${loginUrl}",
  "region": "${region}"
}
